@font-face {
  font-family: Brique;
  src: url(../resources/Brique/BriqueRegular.otf) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  font-family: 'Brique';
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main {
  /*background: url("../resources/Fondo-web-para-Fede.svg");
    background-size:cover;*/
}

#main #back-img {
  z-index: -10;
  top: 0;
  width: 100%;
}

#main #absolute-body {
  position: absolute;
  top: 0;
}

#main #absolute-body #sct-titlecountdown {
  margin-top: -50px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  #main #absolute-body #sct-titlecountdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }
}

#main #absolute-body #sct-titlecountdown #img-title {
  height: 500px;
}

#main #absolute-body #sct-titlecountdown #countdown {
  margin-top: -60px;
}

#main #absolute-body #sct-titlecountdown #countdown h1 {
  font-family: Brique;
}

@media screen and (max-width: 425px) {
  #main #absolute-body #sct-titlecountdown #countdown h1 {
    font-size: 20px;
  }
}

#main #absolute-body #sct-titlecountdown #countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  #main #absolute-body #sct-titlecountdown #countdown li {
    font-size: 1em;
  }
}

#main #absolute-body #sct-titlecountdown #countdown li span {
  display: block;
  font-size: 4.5rem;
}

#main #absolute-body #sct-contact {
  margin-bottom: 40px;
}

#main #absolute-body #sct-contact #form #email {
  padding: 7px;
  background-color: #FFFFFF;
}

#main #absolute-body #sct-contact #form #error {
  display: none;
}

#main #absolute-body #sct-contact #form button {
  padding: 7px;
  background-color: #000000;
  color: #FFFFFF;
}

#main #absolute-body #sct-contact #success {
  display: none;
}

#main #absolute-body #sct-spotify {
  position: absolute;
  top: 60px;
  left: 99%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
}

footer {
  padding: 10px;
  font-size: 10px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: #FFFFFF;
  background-color: #000000;
}

footer #footer-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-rightside #p-2 {
  margin-right: 15px;
}

footer #footer-rightside i {
  background-color: #000000;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
}
/*# sourceMappingURL=styles.css.map */