@font-face {
    font-family: Brique;
    src: url(../resources/Brique/BriqueRegular.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Brique';
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    background-image: url("../resources/Fondo-web-para-tau-II.png");
    background-size: cover;
    #sct-titlecountdown {
        margin-top: -50px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 425px) {
            display: flex;
            flex-direction: column;
            padding: 0 15px;
        }
        #img-title {
            height: 500px;
            @media screen and (max-width: 700px) {
                height: 400px;
                width: 400px;
                margin-top: 100px;
            }
        }
        #countdown {
            margin-top: -60px;
            ul {
                @media screen and (max-width: 700px) {
                    display: flex;
                    flex-direction: column;
                    row-gap: 80px;
                }
            }
            li {
                display: inline-block;
                font-size: 1.5em;
                list-style-type: none;
                padding: 1em;
                text-transform: uppercase;
                @media screen and (max-width: 700px) {
                    height: 50px;
                    color: #FFFFFF
                }
            }
            li span {
                display: block;
                font-size: 4.5rem;
                @media screen and (max-width: 700px) {
                    height: 50px;
                    color: #FFFFFF;
                    margin-bottom: 20px;
                }
                }
            }
        }
        #sct-contact {
            margin-bottom: 40px;
            @media screen and (max-width: 700px) {
                margin-top: 70px;
            }
            #form {
                #email {
                    padding: 7px;
                    background-color: #FFFFFF;
                }
                #error {
                    display: none;
                }
                button {
                    padding: 7px;
                    background-color: #000000;
                    color: #FFFFFF;
                }
            }
            #success {
                display: none;
            }
        }
        
        #sct-spotify {
            position: absolute;
            top: 60px;
            right: 0;
            height: fit-content;
            display: flex;
            flex-direction: column;
            display: flex;
            @media screen and (max-width: 700px) {
               margin: 0 auto;
            }
        }
}

footer {
   padding: 10px;
   font-size: 10px;
   background-color: #000000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   p {
       color: #FFFFFF;
       background-color: #000000;
   }
   #footer-rightside {
       display: flex;
       justify-content: space-between;
       background-color: #000000;
       align-items: center;
       #p-2 {
           margin-right: 15px;
       }
       i {
           background-color: #000000;
           color: #FFFFFF;
           height: 30px;
           width: 30px;
           display: flex;
           align-items: center;
           margin-top: -5px;
       }
   }
}