@font-face {
    font-family: Brique;
    src: url(../resources/Brique/BriqueRegular.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Brique';
    //background-color: #8a1313;
    //background-image: src('../re');
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main {
    /*background: url("../resources/Fondo-web-para-Fede.svg");
    background-size:cover;*/
    #back-img {
        z-index: -10;
        top: 0;
        width: 100%;
    }
    #absolute-body {
        position: absolute;
        top: 0;
        #sct-titlecountdown {
            margin-top: -50px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: 425px) {
                display: flex;
                flex-direction: column;
                padding: 0 15px;
            }
            #img-title {
                height: 500px;
            }
            #countdown {
                margin-top: -60px;
                h1 {
                    font-family: Brique;
                    //color: #FFFFFF;
                    @media screen and (max-width: 425px) {
                        font-size: 20px;
                    }
                }
                li {
                    display: inline-block;
                    font-size: 1.5em;
                    //color: #FFFFFF;
                    list-style-type: none;
                    padding: 1em;
                    text-transform: uppercase;
                    @media screen and (max-width: 425px) {
                        font-size: 1em;
                    }
                  }
                  
                li span {
                    display: block;
                    font-size: 4.5rem;
                    //color: #FFFFFF;
                }
            }
        }
        
        #sct-contact {
            margin-bottom: 40px;
            #form {
                #email {
                    padding: 7px;
                    background-color: #FFFFFF;
                }
                #error {
                    display: none;
                }
                button {
                    padding: 7px;
                    background-color: #000000;
                    color: #FFFFFF;
                }
            }
            #success {
                display: none;
            }
        }
        
        #sct-spotify {
            position: absolute;
            top: 60px;
            left: 99%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            display: flex;
        }
    }
}

footer {
   padding: 10px;
   font-size: 10px;
   background-color: #000000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   p {
       color: #FFFFFF;
       background-color: #000000;
   }
   #footer-rightside {
       display: flex;
       justify-content: space-between;
       background-color: #000000;
       align-items: center;
       #p-2 {
           margin-right: 15px;
       }
       i {
           background-color: #000000;
           color: #FFFFFF;
           height: 30px;
           width: 30px;
           display: flex;
           align-items: center;
           margin-top: -5px;
       }
   }
}